@mixin input {
    outline: none;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--dark-200);
    color: var(--light-100);
    font-family: 'Poppins';
    font-size: 0.9em;

    &:focus {
        border: 1px solid var(--blue-100-transparent);
        box-shadow: 0 0 7px var(--blue-100-transparent);
    }
}

@mixin btn {
    border: 1px solid transparent;
    padding: 7px 11px 7px 11px;
    border-radius: 5px;
    background-color: var(--blue-100);
    color: var(--light);
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 700;

    &:focus {
        border: 1px solid var(--blue-100-transparent);
        box-shadow: 0 0 7px var(--blue-100-transparent);
    }
}

@mixin btn-transparent {
    border: 1px solid var(--blue-100);
    background-color: transparent;
    padding: 7px;
    border-radius: 5px;
    color: var(--blue-100);
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 700;
    
    &:focus {
        border: 1px solid var(--blue-100);
        box-shadow: 0 0 7px var(--blue-100);
        color: var(--blue-100);
    }
}

@mixin btn-circle {
    border-radius: 100%;
    padding: 4px 13px 4px 13px;
    height: 30px;
    width: 30px;
    font-size: 0.85em;
    margin: 0 3px 0 3px;

    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@mixin btn-primary {
    border: 1px solid var(--blue-100);
    background-color: var(--dark);
    color: var(--blue-100);

    &:focus {
        box-shadow: 0 0 3px var(--blue-100);    
        background-color: hsla(222, 100%, 60%, 0.176);
    }
}

@mixin btn-danger {
    border: 1px solid var(--red);
    background-color: var(--dark);
    color: var(--red);

    &:focus {
        box-shadow: 0 0 3px var(--red);   
        background-color:  hsla(0, 78%, 45%, 0.168);
    }
}

@mixin btn-secundary {
    border: 1px solid var(--dark-300);
    background-color: var(--dark);
    color: var(--grey);

    &:focus {
        box-shadow: 0 0 3px var(--dark-300);   
        background-color:  var(--dark-100);
    }
}

.btn-favorite {
    font-size: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--dark);
    text-shadow: 0 0 4px var(--yellow);
    margin-right: 3px;

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f005";
    }

    &:hover {
        scale: 0.9;
    }
}

.btn-favorite--active {

    font-size: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--yellow);
    margin-right: 3px;
    outline: none;

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f005";
    }
}

.btn-menu {
    @include btn-circle;

    border: 1px solid var(--dark-300);
    background-color: var(--dark);
    color: var(--grey);

    &:focus {
        box-shadow: 0 0 3px transparent;   
        background-color:  transparent;
    }

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f142";
    }
}

.btn-menu--active {
    @include btn-circle;
    
    border: 1px solid var(--dark-300);
    color: var(--grey);
    box-shadow: 0 0 3px var(--dark-300);   
    background-color:  var(--dark-100);

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f142";
    }
}

.btn-edit {
    @include btn-circle;
    @include btn-primary;

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f303";
    }
}

.btn-remove {
    @include btn-circle;
    @include btn-danger;

    &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f2ed";
        color: var(--red);
    }
}