@mixin input-default {
    outline: none;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--dark-200);
    color: var(--light-100);
    font-family: 'Poppins';
    font-size: 0.9em;

    &:focus {
        border: 1px solid var(--blue-100-transparent);
        box-shadow: 0 0 7px var(--blue-100-transparent);
    }
}

@mixin btn-default {
    outline: none;
    border: 1px solid transparent;
    padding: 7px 11px 7px 11px;
    border-radius: 5px;
    background-color: var(--blue-100);
    color: var(--light);
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 700;

    &:focus {
        border: 1px solid var(--blue-100-transparent);
        box-shadow: 0 0 7px var(--blue-100-transparent);
    }
}

@mixin btn-transparent-default {
    outline: none;
    border: 1px solid var(--blue-100);
    padding: 7px 11px 7px 11px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--blue-100);
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 700;
    
    &:focus {
        border: 1px solid var(--blue-100);
        box-shadow: 0 0 7px var(--blue-100);
        color: var(--blue-100);
        position: relative;
    }
}

