:root {
    --dark: #1b1b1b;
    --dark-100: #272727;
    --dark-200: #343434;
    --dark-300: #484848;
    --grey: #afafaf;
    --light-100: #d4d4d4;
    --light: #ffffff;
    --blue: #1d4092;
    --blue-100: #3471ff;
    --blue-100-transparent: hsla(222, 100%, 60%, 0.7);
    --blue-200: #457bfa;
    --red: #cb1919;
    --yellow-100: #f9fc69;
    --yellow: #d3d638;
}

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;