/** Utilities */
@import 'variables';
@import 'utilities/reset';
@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/fonts';
@import 'utilities/animations';

/** Components */
@import 'components/borders';
@import 'components/buttons';
@import 'components/labels';
@import 'components/inputs';
@import 'components/badges';
@import 'components/cards';
@import 'components/tree';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $white;
    font-family: 'San_Francisco', sans-serif;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    
    @include media-breakpoint(0, $lg) {
        display: flex;
        flex-direction: column;
    }
    
    @include media-breakpoint($lg) {
        grid-template-areas: 'aside-one content aside-two'; 
        grid-template-columns: 20% 60% 20%;
    }

    .grid-aside-one {
        grid-area: aside-one;
        background-color: map-get($colors, 'secondary');
    }
    
    .grid-content {
        grid-area: content;
    }
    
    .grid-aside-two {
        grid-area: aside-two;
        background-color: map-get($colors, 'secondary');
    }
}

.search-notes-area {

    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 10px 0 10px;

    input {
        width: 100%;
        margin-right: 7px;
    }

    .btn-search {

        padding: 10px 15px 10px 15px;
        font-size: 14px;

        &::before {
            font-family: 'Font Awesome 6 Free';
            content: $icon-search;
            font-weight: 900;
        }
    }
}

.filter-notes-area {

    .filter-notes-header {
        
        @include font-body-1;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px 15px 0 15px;
        color: map-get($light, 100);

        .line {
            width: 100%;
            height: 1px;
            background-color: map-get($light, 100);
        }

        span {
            margin-right: 7px;
            white-space: nowrap;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .filter-notes-body {
        padding: 15px 15px 0 15px;
        display: flex;
        flex-flow: row wrap;

        label {
            margin: 0 3px 4px 0;
        }
    }
}

.card-note-container {
    overflow: hidden;
    overflow-y: auto;
    margin: 20px 0px 0 0px;
    padding: 0 10px 0 10px;
    height: 70vh;
}

.card-note {

    background-color: map-get($dark, 100);
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.1s;
    margin: 0 0 7px 0;

    &:hover {
        border: 1px solid rgba(map-get($light, 100), 0.2);
    }

    .card-header {
        .card-title {
            @include limit-text(1);
            color: map-get($light, 300);
        }
    }

    .card-body {
        .card-text {
            @include limit-text(4);
            color: map-get($light, 200);
            margin: 0 5px 0 0;
        }
    }

    .card-footer {
        .menu-content {
            width: 0;
            padding: 4px 0 4px 4px;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            display: flex;
            flex-direction: row;
            visibility: hidden;

            * {
                margin-right: 4px;
            }

            &.--active {
                width: 74px;
                visibility: visible;
            }
        }
    }
}

