* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(197, 197, 197) rgb(151, 151, 151);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background:  map-get($dark, 200);
}

*::-webkit-scrollbar-thumb {
    background-color:rgb(61, 61, 61);
    border: 1px solid transparent;
}
