@import './scss/variables';
@import './scss/medias';
@import './scss/fonts';
@import './scss/utils';
@import './scss/cards';
@import './scss/controls';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--grey);
}

.grid-template-default {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        'sidebar_one content sidebar_two'
        'sidebar_one content sidebar_two';
    min-height: 100vh;
}

.sidebar {
    background-color: var(--dark-100);
}

.sidebar-one {
    grid-area: sidebar_one; 
    // padding: 30px 10px 30px 10px;
}

.search-area {

    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    padding: 30px 10px 0 10px;
    
    input {
        @include input;
        width: 100%;
    }

    button {
        @include btn;
        margin-left: 5px;
    }
}

.filter-area {

    margin: 20px auto 0 auto;
    padding: 0 10px 0 10px;
    width: 95%;

    .filter-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--dark-300);
        font-weight: 600;
    }

    .filter-body {

        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
    }
}

.badge-tag {
    @include badge-tag;
    margin: 2px;
}

.badge-tag--active {
    @include badge-tag--active;
    margin: 2px;
}

.note-cards-area {

    margin: 15px 0 0 0;
    padding: 0px 20px 0px 20px;
    overflow-y: scroll;
    max-height: 70vh;

    .note-card {
        @include card;
        margin: 10px 0 10px 0;
    }

    .note-card:hover{
        box-shadow: 0 0 2px var(--blue-100);
    }

    .note-card::before:hover {
        background-color: red;
    }

    .menu-collapse {
        visibility: hidden;
        width: 0px;
        padding: 1px;
        overflow: hidden;
        transition: all .2s ease-in-out;
        display: flex;
        flex-direction: row;
    }
    .menu-collapse.show {
        width: 75px;
        visibility: visible;
    }
    
}

.sidebar-two {
    grid-area: sidebar_two;
    padding: 80px 0px 0px 0px;

    .header {
        h3 {
            font-family: 'Poppins';
            font-size: 1.1em;
            font-weight: 500;
            color: var(--dark-300);
            margin: 8px;
        }
    }
}

.content {
    grid-area: content;
    padding: 150px 20px 20px 50px;
    background-color: var(--dark);
    font-family: 'Poppins';

    h1 {
        font-weight: 500;
        font-size: 3.5em
    }

    p {
        font-size: 0.95em;
        max-width: 800px;
    }
}

@include media-breakpoint-up(1000px) {

    .grid-template-default {
        display: grid;
        grid-template-columns: 30% 20% 30%;
        grid-template-areas:
            'sidebar_one content sidebar_two'
            'sidebar_one content sidebar_two';
        min-height: 100vh;
    }

    .sidebar {
        padding: 0;
    }
}