@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
:root {
  --dark: #1b1b1b;
  --dark-100: #272727;
  --dark-200: #343434;
  --dark-300: #484848;
  --grey: #afafaf;
  --light-100: #d4d4d4;
  --light: #ffffff;
  --blue: #1d4092;
  --blue-100: #3471ff;
  --blue-100-transparent: hsla(222, 100%, 60%, 0.7);
  --blue-200: #457bfa;
  --red: #cb1919;
  --yellow-100: #f9fc69;
  --yellow: #d3d638;
}

.line {
  background-color: var(--dark-300);
  height: 1px;
  width: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-300);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-300);
  border: 1px solid transparent;
}

.btn-favorite {
  font-size: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--dark);
  text-shadow: 0 0 4px var(--yellow);
  margin-right: 3px;
}
.btn-favorite::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f005";
}
.btn-favorite:hover {
  scale: 0.9;
}

.btn-favorite--active {
  font-size: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--yellow);
  margin-right: 3px;
}
.btn-favorite--active::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f005";
}

.btn-menu {
  border-radius: 100%;
  padding: 4px 13px 4px 13px;
  height: 30px;
  width: 30px;
  font-size: 0.85em;
  margin: 0 3px 0 3px;
  border: 1px solid var(--dark-300);
  background-color: var(--dark);
  color: var(--grey);
}
.btn-menu::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-menu:focus {
  box-shadow: 0 0 3px transparent;
  background-color: transparent;
}
.btn-menu::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f142";
}

.btn-menu--active {
  border-radius: 100%;
  padding: 4px 13px 4px 13px;
  height: 30px;
  width: 30px;
  font-size: 0.85em;
  margin: 0 3px 0 3px;
  border: 1px solid var(--dark-300);
  color: var(--grey);
  box-shadow: 0 0 3px var(--dark-300);
  background-color: var(--dark-100);
}
.btn-menu--active::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-menu--active::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f142";
}

.btn-edit {
  border-radius: 100%;
  padding: 4px 13px 4px 13px;
  height: 30px;
  width: 30px;
  font-size: 0.85em;
  margin: 0 3px 0 3px;
  border: 1px solid var(--blue-100);
  background-color: var(--dark);
  color: var(--blue-100);
}
.btn-edit::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-edit:focus {
  box-shadow: 0 0 3px var(--blue-100);
  background-color: hsla(222deg, 100%, 60%, 0.176);
}
.btn-edit::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f303";
}

.btn-remove {
  border-radius: 100%;
  padding: 4px 13px 4px 13px;
  height: 30px;
  width: 30px;
  font-size: 0.85em;
  margin: 0 3px 0 3px;
  border: 1px solid var(--red);
  background-color: var(--dark);
  color: var(--red);
}
.btn-remove::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-remove:focus {
  box-shadow: 0 0 3px var(--red);
  background-color: hsla(0deg, 78%, 45%, 0.168);
}
.btn-remove::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2ed";
  color: var(--red);
}

.tree-area {
  font-family: "Poppins";
  padding: 20px 10px 0 20px;
  list-style: none;
  overflow-y: scroll;
  max-height: 70vh;
}
.tree-area li {
  font-size: 0.95em;
  font-weight: 400;
  cursor: pointer;
}
.tree-area li:hover {
  opacity: 0.8;
}
.tree-area li a {
  color: var(--grey);
  text-decoration: none;
}
.tree-area li a::before {
  font-family: "Font Awesome 6 Free";
  content: "\f249";
  margin-right: 5px;
  font-weight: 1em;
}
.tree-area li.tree-branch {
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.tree-area li.tree-branch::before {
  font-family: "Font Awesome 6 Free";
  content: "\f07b";
  color: var(--blue-100);
  margin-right: 5px;
  font-size: 1em;
}
.tree-area li.tree-branch--active::before {
  content: "\f07c";
}
.tree-area ul.tree-collection {
  list-style: none;
  border-left: 2px solid var(--blue-100);
  padding-left: 15px;
  margin-left: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: none;
  visibility: hidden;
}
.tree-area ul.tree-collection.show {
  display: block;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--grey);
}

.grid-template-default {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "sidebar_one content sidebar_two" "sidebar_one content sidebar_two";
  min-height: 100vh;
}

.sidebar {
  background-color: var(--dark-100);
}

.sidebar-one {
  grid-area: sidebar_one;
}

.search-area {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  padding: 30px 10px 0 10px;
}
.search-area input {
  outline: none;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--dark-200);
  color: var(--light-100);
  font-family: "Poppins";
  font-size: 0.9em;
  width: 100%;
}
.search-area input:focus {
  border: 1px solid var(--blue-100-transparent);
  box-shadow: 0 0 7px var(--blue-100-transparent);
}
.search-area button {
  border: 1px solid transparent;
  padding: 7px 11px 7px 11px;
  border-radius: 5px;
  background-color: var(--blue-100);
  color: var(--light);
  font-family: "Poppins";
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 5px;
}
.search-area button:focus {
  border: 1px solid var(--blue-100-transparent);
  box-shadow: 0 0 7px var(--blue-100-transparent);
}

.filter-area {
  margin: 20px auto 0 auto;
  padding: 0 10px 0 10px;
  width: 95%;
}
.filter-area .filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark-300);
  font-weight: 600;
}
.filter-area .filter-body {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.badge-tag {
  padding: 2px 4px 2px 4px;
  border-radius: 12px;
  border: 2px solid var(--blue-100);
  color: var(--blue-100);
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 2px;
}
.badge-tag:hover {
  background-color: hsla(222deg, 100%, 60%, 0.25);
}
.badge-tag input {
  display: none;
}

.badge-tag--active {
  padding: 2px 4px 2px 4px;
  border-radius: 12px;
  border: 2px solid var(--blue-100);
  background-color: var(--blue-100);
  color: var(--dark);
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scale: 0.95;
  margin: 2px;
}
.badge-tag--active input {
  display: none;
}

.note-cards-area {
  margin: 15px 0 0 0;
  padding: 0px 20px 0px 20px;
  overflow-y: scroll;
  max-height: 70vh;
}
.note-cards-area .note-card {
  background-color: var(--dark);
  border-radius: 10px;
  padding: 15px 12px 12px 12px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.note-cards-area .note-card .card-header {
  color: var(--light);
  display: flex;
  justify-content: space-between;
}
.note-cards-area .note-card .card-body {
  color: rgba(128, 128, 128, 0.914);
  font-size: 0.85em;
  padding-top: 5px;
}
.note-cards-area .note-card .card-footer {
  display: flex;
  justify-content: flex-end;
  display: flex;
  position: relative;
}
.note-cards-area .note-card:hover {
  box-shadow: 0 0 2px var(--blue-100);
}
.note-cards-area .note-card::before:hover {
  background-color: red;
}
.note-cards-area .menu-collapse {
  visibility: hidden;
  width: 0px;
  padding: 1px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
}
.note-cards-area .menu-collapse.show {
  width: 75px;
  visibility: visible;
}

.sidebar-two {
  grid-area: sidebar_two;
  padding: 80px 0px 0px 0px;
}
.sidebar-two .header h3 {
  font-family: "Poppins";
  font-size: 1.1em;
  font-weight: 500;
  color: var(--dark-300);
  margin: 8px;
}

.content {
  grid-area: content;
  padding: 150px 20px 20px 50px;
  background-color: var(--dark);
  font-family: "Poppins";
}
.content h1 {
  font-weight: 500;
  font-size: 3.5em;
}
.content p {
  font-size: 0.95em;
  max-width: 800px;
}/*# sourceMappingURL=style.css.map */