@each $color in $colors-name {

    @include animationButton(map-get($colors, $color), $color);

    .btn-#{$color} {
        background-color: map-get($colors, $color);
        color: map-get($colors-contrast, $color);
    
        &:focus {
            animation: pressed-button-#{$color} 0.2s forwards;
        }
    }

    .btn-outline-#{$color} {
        border: 1px solid map-get($colors, $color);
        background-color: transparent;
        color: map-get($colors, $color);
    
        &:focus {
            animation: pressed-button-#{$color} 0.2s forwards;
        }
    }
}

.btn {
    padding: 7px;
    border-radius: 3px;
    @include font-button-2;
    cursor: pointer;
}

.btn-lg {
    padding: 7px;
    border-radius: 3px;
    @include font-button-1;
    cursor: pointer;
}

.btn-circle {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.btn-circle-lg {
    height: 37px;
    width: 37px;
    min-height: 37px;
    min-width: 37px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 100%;
    cursor: pointer;
}

.btn-menu {

    @extend .btn-circle;   

    &::before {
        font-family: "Font Awesome 6 Free"; 
        font-weight: 900; 
        content: $icon-menu;
    }
}

.btn-edit {

    @extend .btn-circle;   

    &::before {
        font-family: "Font Awesome 6 Free"; 
        font-weight: 900; 
        content: $icon-edit;
    }
}

.btn-remove {

    @extend .btn-circle;   

    &::before {
        font-family: "Font Awesome 6 Free"; 
        font-weight: 900; 
        content: $icon-remove;
    }
}

.btn-favorite {
    
    @include font-button-1;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-text-stroke: 1px map-get($yellow, 100);
    scale: 0.9;
    
    &::before {
        font-family: "Font Awesome 6 Free"; 
        font-weight: 900; 
        content: $icon-favorite;
    }

    &:focus {
        color: map-get($dark, 100);
        text-shadow: 0 0 7px rgba(map-get($yellow, 100), 1);
    }

    &.--active {
        color: map-get($yellow, 100);
    };
}