
.card {
    padding: 7px;
    border-radius: 5px;
    
    .card-header {
        @include font-heading-3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 7px 0;
    }

    .card-body {
        @include font-body-2;
        margin: 0 0 7px 0;
    }

    .card-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

