@each $color in $colors-name {

    @include animationInput(map-get($colors, $color), $color);

    .form-input-#{$color} {
        background-color: map-get($colors, $color);
        color: map-get($colors-contrast, $color);
    
        &:focus, &.--focus {
            animation: focus-input-#{$color} 0.2s forwards;
        }
    }
}

.form-input {
    @include font-body-2;
    outline: none;
    color: map-get($light, 300);
    padding: 7px;
    border-radius: 7px;
    background-color: map-get($dark, 300);
}

.form-input-lg {
    @include font-body-1;
    font-weight: 500;
    outline: none;
    color: map-get($light, 300);
    padding: 10px;
    border-radius: 5px;
    background-color: map-get($dark, 300);
}